<?xml version="1.0" encoding="UTF-8"?>
<!-- http://phpunit.de/manual/4.1/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" backupGlobals="false" bootstrap="vendor/autoload.php" colors="true">
  <coverage>
    <include>
      <directory suffix=".php">.</directory>
    </include>
    <exclude>
      <directory>Resources</directory>
      <directory>Tests</directory>
      <directory>vendor</directory>
    </exclude>
  </coverage>
  <php>
    <ini name="error_reporting" value="-1"/>
    <ini name="memory_limit" value="-1"/>
    <server name="KERNEL_DIR" value="Tests/Functional/"/>
  </php>
  <testsuites>
    <testsuite name="KnpGaufretteBundle Test Suite">
      <directory>Tests</directory>
    </testsuite>
  </testsuites>
</phpunit>
